<% content_for :page_title do %>
  <%= Spree.t(:title, scope: [:spree_importer_core, :importers, @importer.key], default: plural_resource_name(Spree::Import)) %>
<% end %>

<% content_for :page_actions do %>
  <%= button_link_to Spree.t(:new_import, scope: :spree_importer_core), spree.new_admin_import_path(importer_id: @importer.key), { :class => "btn-success", :icon => 'add', 'data-update' => 'new_import_link', :id => 'admin_new_import' } %>
<% end if can?(:create, Spree::Import) %>

<%= render partial: 'spree/admin/shared/index_table_options', locals: { collection: @collection } %>

<% if @collection.any? %>
  <table class="table" id='listing_imports'>
    <colgroup>
      <col style=("width: 35%")>
      <col style=("width: 15%")>
      <col style=("width: 15%")>
      <col style=("width: 15%")>
      <col style=("width: 10%")>
      <col style=("width: 10%")>
    </colgroup>

    <thead>
      <tr data-hook="listing_imports_header">
        <th><%= Spree::Import.human_attribute_name(:document) %></th>
        <th><%= Spree::Import.human_attribute_name(:created_at) %></th>
        <th><%= Spree::Import.human_attribute_name(:started_at) %></th>
        <th><%= Spree::Import.human_attribute_name(:finished_at) %></th>
        <th><%= Spree::Import.human_attribute_name(:state) %></th>
        <th data-hook="admin_imports_index_header_actions" class="actions"></th>
      </tr>
    </thead>

    <tbody>
      <% @collection.each do |import| %>
        <tr data-hook="listing_imporst_row" class="<%= cycle('odd', 'even') %>">
          <td><%= import.document_file_name %></td>
          <td><%= l import.created_at %></td>
          <td><%= l(import.started_at)  if import.started_at %></td>
          <td><%= l(import.finished_at) if import.finished_at %></td>
          <td class="align-center"><i class="glyphicon <%= import.status_icon %>"></i></td>
          <td class="actions"><%= link_to_with_icon 'eye-open', Spree.t(:show, scope: :spree_importer_core), spree.admin_import_path(import, importer_id: @importer.key), :no_text => true %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

<% else %>
  <div class="alert alert-info no-objects-found">
    <%= Spree.t(:no_resource_found, resource: Spree::Import.model_name.human(count: 2)) %>,
    <%= link_to Spree.t(:add_one), spree.new_admin_import_path(importer_id: @importer.key) %>!
  </div>
<% end %>

<%= render partial: 'spree/admin/shared/index_table_options', locals: { collection: @collection } %>
