<% content_for :page_actions do %>
  <div class="form-actions" data-hook="buttons">
    <%= button_link_to Spree.t('actions.back'), spree.admin_imports_path(importer_id: @importer.key), {icon: 'chevron-left'} %>

    <%= button_link_to Spree.t(:new_import, scope: :spree_importer_core), spree.new_admin_import_path(importer_id: @importer.key), { :class => "btn-success", :icon => 'add', 'data-update' => 'new_import_link', :id => 'admin_new_import' } %>
  </div>
<% end if can?(:create, Spree::Import) %>

<% content_for :page_title do %>
  <%= Spree.t(:import, scope: :spree_importer_core, id: @import.id) %>
<% end %>

<fieldset class="import_fields">
  <dl class="dl-horizontal">
    <dt><%= Spree::Import.human_attribute_name(:document) %></dt>
    <dd><%= @import.document_file_name %></dd>

    <dt><%= Spree::Import.human_attribute_name(:created_at) %></dt>
    <dd><%= l @import.created_at %></dd>

    <dt><%= Spree::Import.human_attribute_name(:started_at) %></dt>
    <dd><%= l(@import.started_at) if @import.started_at %></dd>

    <dt><%= Spree::Import.human_attribute_name(:finished_at) %></dt>
    <dd><%= l(@import.finished_at) if @import.finished_at %></dd>

    <dt><%= Spree::Import.human_attribute_name(:status) %></dt>
    <dd><i class="glyphicon <%= @import.status_icon %>"></i></dd>
  </dl>
</fieldset>

<div class="row">
  <div class="col-sm-12">
    <p><strong><%= Spree::Import.human_attribute_name(:messages) %></strong></p>
    <table class="table import-logs">
      <colgroup>
        <col style=("width: 30%")>
        <col style=("width: 60%")>
        <col style=("width: 10%")>
      </colgroup>

      <% @import.messages.each do |message| %>
        <tr class="message_<%= message[:row_index] %>" data-message="message_<%= message[:row_index] %>">
          <td>Error en linea <%= message[:row_index] %>:</td>
          <td class="log-message"><%= message[:message] %></td>
          <td>
            <a class="plus" href="javascript:void(0);">
              <i class="glyphicon glyphicon-plus"></i>
            </a>
            <a class="minus dn" href="javascript:void(0);">
              <i class="glyphicon glyphicon-minus"></i>
            </a>
          </td>
        </tr>

        <tr class="message_<%= message[:row_index] %> log-data dn warning">
          <td colspan='3'><%= message[:data] %></td>
        </tr>

        <tr class="message_<%= message[:row_index] %> log-backtrace dn danger">
          <td colspan='3'>
            <% message[:backtrace].each do |backtrace| %>
              <p><%= backtrace %></p>
            <% end %>
          </td>
        </td>
      <% end %>
    </table>
  </div>
</div>
